<table class="table table-striped table-responsive ">
    <tr>
        <th class="col-md-2"><div class="wrapper">name</div></th>
        <th class="col-md-2"><div class="wrapper">fit
            <div class="tooltip">I feel like I fit in with the team and am a strong team contributor</div>
        </div></th>
        <th class="col-md-2"><div class="wrapper">proud
            <div class="tooltip">I am proud of the work I accomplished</div>
        </div></th>
        <th class="col-md-2"><div class="wrapper">excited
            <div class="tooltip">I am excited about the work that the team is doing</div>
        </div></th>
        <th class="col-md-2"><div class="wrapper">meaningful
            <div class="tooltip">The work that I personally am doing is meaningful and contributes to the team's goals</div>
        </div></th>
        <th class="col-md-2"><div class="wrapper">company
            <div class="tooltip">I am enthusiastic about the goals and direction of Opower as a company</div>
        </div></th>
    </tr>
    {{#each result}}
    <tr>
        <td>{{name}}</td>
        <td>{{fit}}</td>
        <td>{{proud}}</td>
        <td>{{excited}}</td>
        <td>{{meaningful}}</td>
        <td>{{company}}</td>
    </tr>
    {{/each}}
</table>