<table class="table striped-table table-responsive ">
    <tr>
        <th>name</th>
        <th>fit</th>
        <th>proud</th>
        <th>excited (team)</th>
        <th>meaningful (team)</th>
        <th>company</th>
    </tr>
    {{#each result}}
    <tr>
        <td>{{name}}</td>
        <td>{{fit}}</td>
        <td>{{proud}}</td>
        <td>{{excited}}</td>
        <td>{{meaningful}}</td>
        <td>{{company}}</td>
    </tr>
    {{/each}}
</table>